<div class="container mt-4">
  <h1 class="text-center m-5">Listado Solicitudes de {{nombreAnimal}}</h1>

  <table id="datatable" class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Correo del interesado</th>
      <th>Teléfono del interesado</th>
      <th>Estado</th>
      <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let animalPersona of animalPersonas">
      <td>{{ animalPersona.idPersona.correo }}</td>
      <td>{{ animalPersona.idPersona.tlf }}</td>
      <td>
        <span [ngClass]="{'badge rounded-pill bg-danger': !animalPersona.estado, 'badge rounded-pill bg-success text-white': animalPersona.estado || !animalPersona.estado}">
        {{ animalPersona.estado ? 'Aceptada' : 'Pendiente' }}
        </span>
      </td>
      <td>
        <span class="d-flex">
          <button *ngIf="!animalPersona.estado" class="btn btn-success m-2" (click)="aceptarSolicitud(animalPersona.idAnimal.id, animalPersona.idPersona.id)">Aceptar</button>
          <button *ngIf="!animalPersona.estado" class="btn btn-danger m-2" (click)="rechazarSolicitud(animalPersona.idAnimal.id, animalPersona.idPersona.id)">Rechazar</button>
        </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
