<div class="container mt-4">
  <h1 class="text-center m-5">Asociaciones</h1>

  <table id="datatable" class="table table-striped table-bordered">
    <thead>
    <tr>
      <th *ngFor="let col of columns">{{ col.title }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of asociaciones">
      <td>{{ item.nombre }}</td>
      <td>{{ item.usuario.poblacion }}</td>
      <td>{{ item.usuario.provincia.nombre }}</td>
      <td>
  <span [ngClass]="{'badge rounded-pill bg-danger': !item.usuario.activo, 'badge rounded-pill bg-success text-white': item.usuario.activo || !item.usuario.activo}">
    {{ item.usuario.activo ? 'Validada' : 'No activo' }}
  </span>
      </td>


      <td>
        <button *ngIf="!item.usuario.activo" class="btn btn-primary" (click)="activar(item.usuario.id)">Activar</button>
        <button *ngIf="item.usuario.activo" class="btn btn-danger" (click)="desactivar(item.usuario.id)">Desactivar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
