<div class="d-flex flex-column justify-content-center align-items-center bg-gradient p-2">
  <div class="d-flex justify-content-center mb-4">
    <img src="assets/imgs/huellitasLogo2.png" alt="Sample image" style="width:50%;" class="img-fluid"/>
  </div>
  <form [formGroup]="registerUser" (ngSubmit)="onSubmit()" class="col-lg-4 col-md-8 col-sm-10 col-12 p-5 rounded shadow bg-white">
    <h1 class="text-center mb-4">Regístrate</h1>
    <p class="text-center mb-4 lead">Crea una cuenta para colaborar en nuestra plataforma.</p>
    <!-- Nombre input -->
    <div class="mb-3">
      <label for="nombre" class="form-label label-styled">Nombre</label>
      <input type="text" id="nombre" class="form-control" placeholder="Nombre" formControlName="nombre" />
      <div *ngIf="registerUser.get('nombre').errors && (registerUser.get('nombre').dirty || registerUser.get('nombre').touched)">
        <div *ngIf="registerUser.get('nombre').errors.required" class="text-danger">El nombre es requerido.</div>
      </div>
    </div>

    <!-- Apellidos input -->
    <div class="mb-3">
      <label for="apellidos" class="form-label label-styled">Apellidos</label>
      <input type="text" id="apellidos" class="form-control" placeholder="Apellidos" formControlName="apellidos" />
      <div *ngIf="registerUser.get('apellidos').errors && (registerUser.get('apellidos').dirty || registerUser.get('apellidos').touched)">
        <div *ngIf="registerUser.get('apellidos').errors.required" class="text-danger">Los apellidos son requeridos.</div>
      </div>
    </div>

    <!-- DNI input -->
    <div class="mb-3">
      <label for="dni" class="form-label label-styled">DNI</label>
      <input type="text" id="dni" class="form-control" placeholder="DNI" formControlName="dni" />
      <div *ngIf="registerUser.get('dni').errors && (registerUser.get('dni').dirty || registerUser.get('dni').touched)">
        <div *ngIf="registerUser.get('dni').errors.required" class="text-danger">El DNI es requerido.</div>
        <div *ngIf="registerUser.get('dni').errors.invalidDNI" class="text-danger">El DNI no es válido.</div>
      </div>
    </div>


    <!-- Correo input -->
    <div class="mb-3">
      <label for="correo" class="form-label label-styled">Correo electrónico</label>
      <input type="email" id="correo" class="form-control" placeholder="Correo" formControlName="correo" />
      <div *ngIf="registerUser.get('correo').errors && (registerUser.get('correo').dirty || registerUser.get('correo').touched)">
        <div *ngIf="registerUser.get('correo').errors.required" class="text-danger">El correo electrónico es requerido.</div>
      </div>
    </div>

    <!-- Password input -->
    <div class="mb-3">
      <label for="password" class="form-label label-styled">Contraseña</label>
      <input type="password" id="password" class="form-control" placeholder="Contraseña" formControlName="password" />
      <div *ngIf="registerUser.get('password').errors && (registerUser.get('password').dirty || registerUser.get('password').touched)">
        <div *ngIf="registerUser.get('password').errors.required" class="text-danger">La contraseña es requerida.</div>
        <div *ngIf="registerUser.get('password').errors.passwordComplexity" class="text-danger">La contraseña debe tener al menos 9 caracteres, incluyendo al menos un número y una letra mayúscula.</div>
      </div>
    </div>

    <!-- Confirmar Password input -->
    <div class="mb-3">
      <label for="password2" class="form-label label-styled">Confirmar Contraseña</label>
      <input type="password" id="password2" class="form-control" placeholder="Confirmar Contraseña" formControlName="password2" />
      <div *ngIf="registerUser.get('password2').errors && (registerUser.get('password2').dirty || registerUser.get('password2').touched)">
        <div *ngIf="registerUser.get('password2').errors.required" class="text-danger">Confirmar contraseña es requerido.</div>
        <div *ngIf="registerUser.get('password').errors.passwordComplexity" class="text-danger">La contraseña debe tener al menos 9 caracteres, incluyendo al menos un número y una letra mayúscula.</div>
        <div *ngIf="passwordsMismatch()" class="text-danger">Las contraseñas no coinciden.</div>
      </div>
    </div>


    <!-- Teléfono input -->
    <div class="mb-3">
      <label for="tlf" class="form-label label-styled">Teléfono</label>
      <input type="tel" id="tlf" class="form-control" placeholder="Teléfono" formControlName="tlf" />
      <div *ngIf="registerUser.get('tlf').errors && (registerUser.get('tlf').dirty || registerUser.get('tlf').touched)">
        <div *ngIf="registerUser.get('tlf').errors.required" class="text-danger">El teléfono es requerido.</div>
        <div *ngIf="registerUser.get('tlf').errors.minlength || registerUser.get('tlf').errors.maxlength" class="text-danger">El teléfono debe tener 9 caracteres.</div>
      </div>
    </div>

    <!-- Población input -->
    <div class="mb-3">
      <label for="poblacion" class="form-label label-styled">Población</label>
      <input type="text" id="poblacion" class="form-control" placeholder="Población" formControlName="poblacion" />
      <div *ngIf="registerUser.get('poblacion').errors && (registerUser.get('poblacion').dirty || registerUser.get('poblacion').touched)">
        <div *ngIf="registerUser.get('poblacion').errors.required" class="text-danger">La población es requerida.</div>
      </div>
    </div>

    <!-- Provincia input -->
    <div class="mb-3">
      <label for="provincia" class="form-label label-styled">Provincia</label>
      <select id="provincia" class="form-control" formControlName="provincia">
        <option *ngFor="let provincia of provincias" [value]="provincia.id">{{ provincia.nombre }}</option>
      </select>
      <div *ngIf="registerUser.get('provincia').errors && (registerUser.get('provincia').dirty || registerUser.get('provincia').touched)">
        <div *ngIf="registerUser.get('provincia').errors.required" class="text-danger">La provincia es requerida.</div>
      </div>
    </div>

    <!-- Dirección input -->
    <div class="mb-3">
      <label for="direccion" class="form-label label-styled">Dirección</label>
      <input type="text" id="direccion" class="form-control" placeholder="Dirección" formControlName="direccion" />
      <div *ngIf="registerUser.get('direccion').errors && (registerUser.get('direccion').dirty || registerUser.get('direccion').touched)">
        <div *ngIf="registerUser.get('direccion').errors.required" class="text-danger">La dirección es requerida.</div>
      </div>
    </div>

    <!-- Submit button -->
    <div class="mb-3 d-flex gap-2 justify-content-center"> <!-- Añadida la clase text-center aquí -->
      <button type="submit" class="btn btn-success btn-lg">Registrarse</button> <!-- Quitada la clase btn-block para que no ocupe todo el ancho -->
      <a class="btn btn-primary btn-lg" [routerLink]="['/login']">Volver atrás</a>
    </div>
  </form>
</div>
