<footer class="bg-body-tertiary text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Usuarios</h5>
        <p>Disfruta de una experiencia intuitiva para encontrar y adoptar mascotas. Accede a una variedad de animales disponibles para adopción y conéctate con una comunidad comprometida con el bienestar animal.</p>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Asociaciones</h5>
        <p>Llega a más personas interesadas en adoptar mascotas. Promociona tus animales en adopción, gestiona tus perfiles de mascotas y accede a recursos para optimizar tus esfuerzos de adopción.</p>
      </div>
    </div>
  </div>
  <div class="text-center p-3 d-flex justify-content-between" style="background-color: rgba(0, 0, 0, 0.05);">
    <div class="mx-3">
      © 2024 Copyright: Huellitas Extremeñas
    </div>
    <div class="mx-3">
      <a class="me-2"><i class="fab fa-facebook-f"></i></a>
      <a class="me-2"><i class="fab fa-twitter"></i></a>
      <a class="me-2"><i class="fab fa-instagram"></i></a>
      <a class="me-2"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
</footer>
