<footer class="bg-body-tertiary text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Usuarios</h5>

        <p>
          Como usuario de nuestra aplicación, disfrutarás de una experiencia intuitiva y personalizada para encontrar y adoptar a tu compañero peludo ideal.
          Con nuestra amplia red de refugios y organizaciones de rescate, tendrás acceso a una variedad de mascotas disponibles para adopción.
          Además, nuestra aplicación te permite realizar seguimiento de tus mascotas adoptadas, acceder a recursos útiles para el cuidado animal y conectarte con una comunidad comprometida con el bienestar de los animales.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Asociaciones</h5>

        <p>
          Como asociación que colabora con nuestra aplicación, tendrás la oportunidad de llegar a una audiencia más amplia de personas interesadas en adoptar mascotas.
          Nuestra plataforma te ofrece herramientas para promocionar tus animales en adopción de manera efectiva, gestionar tus perfiles de mascotas y comunicarte fácilmente con posibles adoptantes.
          Además, te brindamos soporte continuo y recursos para optimizar tus esfuerzos de adopción y promover el bienestar animal en tu comunidad.
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright: Huellitas Extremeñas
  </div>
  <!-- Copyright -->
</footer>
