<div class="d-flex flex-column justify-content-center align-items-center bg-light p-2">
  <div class="d-flex justify-content-center mb-4">
    <img src="assets/imgs/huellitasLogo2.png" alt="Sample image" style="width:50%;" class="img-fluid"/>
  </div>
  <form [formGroup]="registerAssociation" (ngSubmit)="onSubmit()"  class="col-lg-4 col-md-8 col-sm-10 col-12 p-5 rounded shadow bg-white">
    <h1 class="text-center mb-4">Regístrate</h1>
    <p class="text-center mb-4 lead">Forma parte de las asociaciones que colaboran con nosotros.</p>
    <!-- Nombre input -->
    <div class="mb-3">
      <label for="nombre" class="form-label label-styled">Nombre de asociación</label>
      <input type="text" id="nombre" class="form-control" placeholder="Nombre" formControlName="nombre" />
      <div *ngIf="registerAssociation.get('nombre').errors && (registerAssociation.get('nombre').dirty || registerAssociation.get('nombre').touched)">
        <div *ngIf="registerAssociation.get('nombre').errors.required" class="text-danger">El nombre de la asociación es requerido.</div>
      </div>
    </div>

    <!-- CIF input -->
    <div class="mb-3">
      <label for="cif" class="form-label label-styled">CIF</label>
      <input type="text" id="cif" class="form-control" placeholder="CIF" formControlName="cif" />
      <div *ngIf="registerAssociation.get('cif').errors && (registerAssociation.get('cif').dirty || registerAssociation.get('cif').touched)">
        <div *ngIf="registerAssociation.get('cif').errors.required" class="text-danger">El CIF es requerido.</div>
        <div *ngIf="registerAssociation.get('cif').errors.invalidCIF" class="text-danger">El CIF no es válido.</div>
      </div>
    </div>

    <!-- Correo input -->
    <div class="mb-3">
      <label for="correo" class="form-label label-styled">Correo electrónico</label>
      <input type="email" id="correo" class="form-control" placeholder="Correo" formControlName="correo" />
      <div *ngIf="registerAssociation.get('correo').errors && (registerAssociation.get('correo').dirty || registerAssociation.get('correo').touched)">
        <div *ngIf="registerAssociation.get('correo').errors.required" class="text-danger">El correo electrónico es requerido.</div>
        <div *ngIf="registerAssociation.get('correo').errors.email" class="text-danger">Correo electrónico inválido.</div>
      </div>
    </div>

    <!-- Password input -->
    <div class="mb-3">
      <label for="password" class="form-label label-styled">Contraseña</label>
      <input type="password" id="password" class="form-control" placeholder="Contraseña" formControlName="password" />
      <div *ngIf="registerAssociation.get('password').errors && (registerAssociation.get('password').dirty || registerAssociation.get('password').touched)">
        <div *ngIf="registerAssociation.get('password').errors.required" class="text-danger">La contraseña es requerida.</div>
        <div *ngIf="registerAssociation.get('password').errors.passwordComplexity" class="text-danger">La contraseña debe tener al menos 9 caracteres, incluyendo al menos un número y una letra mayúscula.</div>
      </div>
    </div>

    <!-- Confirmar Password input -->
    <div class="mb-3">
      <label for="password2" class="form-label label-styled">Confirmar Contraseña</label>
      <input type="password" id="password2" class="form-control" placeholder="Confirmar Contraseña" formControlName="password2" />
      <div *ngIf="registerAssociation.get('password2').errors && (registerAssociation.get('password2').dirty || registerAssociation.get('password2').touched)">
        <div *ngIf="registerAssociation.get('password2').errors.required" class="text-danger">Confirmar contraseña es requerido.</div>
        <div *ngIf="registerAssociation.get('password').errors.passwordComplexity" class="text-danger">La contraseña debe tener al menos 9 caracteres, incluyendo al menos un número y una letra mayúscula.</div>
        <div *ngIf="passwordsMismatch()" class="text-danger">Las contraseñas no coinciden.</div>
      </div>
    </div>

    <!-- Teléfono input -->
    <div class="mb-3">
      <label for="tlf" class="form-label label-styled">Teléfono</label>
      <input type="tel" id="tlf" class="form-control" placeholder="Teléfono" formControlName="tlf" />
      <div *ngIf="registerAssociation.get('tlf').errors && (registerAssociation.get('tlf').dirty || registerAssociation.get('tlf').touched)">
        <div *ngIf="registerAssociation.get('tlf').errors.required" class="text-danger">El teléfono es requerido.</div>
        <div *ngIf="registerAssociation.get('tlf').errors.minlength || registerAssociation.get('tlf').errors.maxlength" class="text-danger">El teléfono debe tener 9 caracteres.</div>
      </div>
    </div>

    <!-- Población input -->
    <div class="mb-3">
      <label for="poblacion" class="form-label label-styled">Población</label>
      <input type="text" id="poblacion" class="form-control" placeholder="Población" formControlName="poblacion" />
      <div *ngIf="registerAssociation.get('poblacion').errors && (registerAssociation.get('poblacion').dirty || registerAssociation.get('poblacion').touched)">
        <div *ngIf="registerAssociation.get('poblacion').errors.required" class="text-danger">La población es requerida.</div>
      </div>
    </div>

    <!-- Provincia input -->
    <div class="mb-3">
      <label for="provincia" class="form-label label-styled">Provincia</label>
      <select id="provincia" class="form-control" formControlName="provincia">
        <option *ngFor="let provincia of provincias" [value]="provincia.id">{{ provincia.nombre }}</option>
      </select>
      <div *ngIf="registerAssociation.get('provincia').errors && (registerAssociation.get('provincia').dirty || registerAssociation.get('provincia').touched)">
        <div *ngIf="registerAssociation.get('provincia').errors.required" class="text-danger">La provincia es requerida.</div>
      </div>
    </div>

    <!-- Dirección input -->
    <div class="mb-3">
      <label for="direccion" class="form-label label-styled">Dirección</label>
      <input type="text" id="direccion" class="form-control" placeholder="Dirección" formControlName="direccion" />
      <div *ngIf="registerAssociation.get('direccion').errors && (registerAssociation.get('direccion').dirty || registerAssociation.get('direccion').touched)">
        <div *ngIf="registerAssociation.get('direccion').errors.required" class="text-danger">La dirección es requerida.</div>
      </div>
    </div>

    <!-- Submit button -->
    <div class="mb-3 text-center">
      <button type="submit" class="btn btn-success btn-lg me-3">Registrarse</button>
      <a class="btn btn-primary btn-lg" [routerLink]="['/login']">Volver atrás</a>
    </div>
  </form>
</div>
