.navbar {
  background-color: #5AB253;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.nav-link {
  color: #f8f9fa;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  color: #c6c6c6;
}

.navbar .active {
  background-color: #449d44;
  color: #f8f9fa;
  border-radius: 5px;
}

.link-danger:active {
  background: #d9534f !important;
  color: #f8f9fa !important;
}

.navbar-brand {
  color: #f8f9fa;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
