<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Botón para dispositivos móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Opciones a la izquierda -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/listadoAnimales']">Inicio</a>
        </li>
      </ul>
    </div>

    <!-- Ícono de usuario y dropdown -->
    <div class="dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-regular fa-user" style="color: #ffffff;"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" [routerLink]="['/perfil']">Mi Perfil</a></li>
        <li><button class="dropdown-item" (click)="logout()">Cerrar Sesión</button></li>
      </ul>
    </div>
  </div>
</nav>
