<!-- TopNav  -->
<nav class="navbar navbar-expand bg-{{ appStyle }} navbar-dark fixed-top shadow-sm">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbars">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"> <a class="nav-link font-weight-bold" href="/">APP BASE</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Link Desplegable
        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Link 4</a>
                        <a class="dropdown-item" href="#">Link 5</a>
                        <a class="dropdown-item" href="#">Link 6</a>
                    </div>
                </li>
                <li class="nav-item active"> <a class="nav-link" href="#">Link 1</a> </li>
                <!-- Activo -->
                <li class="nav-item"> <a class="nav-link" href="#">Link 2</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Link 3</a> </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"> <a class="nav-link" href="javascript:functionLogoff();"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a> </li>
                <li class="nav-item"> <a class="nav-link" href="https://intranet.preving.com/sso/login.do?param=menu-ppal"><i class="fab fa-adn"></i> Cambiar App</a> </li>
            </ul>
        </div>
    </div>
</nav>
<!-- /TopNav  -->