<!--
    TODO EL CONTENIDO DE ESTE COMPONENTE SE PUEDE ELIMINAR
-->
<div class="container">
    <div class="row">
        <div class="col">
            <p class=" text-success"><b>¡Token válido!</b></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Cabecera H1</h1>
            <h2>Cabecera H2</h2>
            <h3>Cabecera H3</h3>
            <p class="lead">Parrafo destacado: Aliquam eget tellus sit amet diam luctus aliquam id at urna.</p>
            <p>Párrafo normal: <a href="#">Sed ut varius est. Quisque finibus orci eget massa porttitor finibus.</a> Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus cursus sagittis pulvinar. Maecenas nisl
                diam, tristique nec laoreet eu, eleifend vitae est.</p>
            <p>Párrafo normal: Donec pellentesque neque varius, viverra sapien mattis, lobortis massa. Pellentesque in vestibulum ante, non volutpat leo. Nulla porttitor, leo sed egestas tincidunt, nulla ante convallis mi, vel porta libero odio eu arcu.</p>


        </div>
        <div class="col-md-8">
            <!-- Código de la tabla -->
            <table class="table table-striped table-sm" style="width:100%">
                <thead>
                    <tr class="bg-app-crm text-white">
                        <th scope="col">ID</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Usuario</th>
                        <th scope="col" class="text-right">Fecha</th>
                        <th scope="col">Visible</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                        <td>Ficha</td>
                        <td>Luis Miguel Martín</td>
                        <td class="text-right">21-10-2018</td>
                        <td>Sí</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Phasellus lobortis viverra nulla, et semper eros ultrices a. </td>
                        <td>Ficha</td>
                        <td>Luis Miguel Martín</td>
                        <td class="text-right">21-10-2018</td>
                        <td>Sí</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Morbi eget mauris eu ipsum porttitor ullamcorper.</td>
                        <td>Ficha</td>
                        <td>Luis Miguel Martín</td>
                        <td class="text-right">21-10-2018</td>
                        <td>Sí</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Nam sodales sit amet velit a consequat. </td>
                        <td>Ficha</td>
                        <td>Luis Miguel Martín</td>
                        <td class="text-right">21-10-2018</td>
                        <td>Sí</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Sed iaculis gravida lectus, sed posuere quam bibendum vitae.</td>
                        <td>Ficha</td>
                        <td>Luis Miguel Martín</td>
                        <td class="text-right">21-10-2018</td>
                        <td>Sí</td>
                    </tr>
                </tbody>
            </table>
            <p>In hac habitasse platea dictumst. Sed ut varius est. Quisque finibus orci eget massa porttitor finibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus cursus sagittis pulvinar. Maecenas
                nisl diam, tristique nec laoreet eu, eleifend vitae est. </p>
            <div class="row">
                <div class="col">
                    <div class="progress mb-4">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-app-crm" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col">

                    <!-- Button trigger modal -->
                    <div class="text-center">
                        <button type="button" class="btn btn-app-crm" data-toggle="modal" data-target="#exampleModalPreving">
          <strong>MODAL PREVING</strong>
        </button>
                    </div>

                    <!-- MODAL PREVING -->
                    <div class="modal fade" id="exampleModalPreving" tabindex="-1" role="dialog" aria-labelledby="exampleModalPrevingLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-app-crm">
                                    <h5 class="modal-title text-white" id="exampleModalPrevingLabel">Modal normal</h5>
                                </div>
                                <div class="modal-body">
                                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                    Nam in felis cursus, vestibulum dolor sed, malesuada dolor. Maecenas dictum ante tortor. Ut non nulla vel ligula ornare pretium. In accumsan eu erat malesuada pharetra.
                                </div>
                                <div class="modal-footer p-4">
                                    <button type="button" class="btn btn-app-crm">Guardar</button>
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header record">
                    <ul class="nav justify-content-end w-50 float-right">
                        <!-- Navegación por resultados/filtro -->
                        <li class="nav-item pt-3">
                            <a class="" href="#"><i class="fas fa-arrow-circle-left"></i></a>&nbsp;&nbsp;<a class="" href="#"><i class="fas fa-arrow-left"></i></a>&nbsp;&nbsp;<a class="" href="#"><i class="fas fa-arrow-right"></i></a>&nbsp;&nbsp;<a class=""
                                href="#"><i
                                  class="fas fa-arrow-circle-right"></i></a>&nbsp;&nbsp;<a class="" href="#"><i class="fas fa-arrow-circle-up"></i></a>
                        </li>
                        <!-- /Navegación por resultados/filtro -->
                        <!-- Nuevo documento -->
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-plus-square"></i>&nbsp;&nbsp;<b>Documento</b></a>
                        </li>
                        <!-- /Nuevo documento -->
                    </ul>
                    <h5 class="w-50 pt-3">Clientes / Cliente Extremeño de Servicios, SL</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="text-left">(123) Cliente Extremeño de Servicios, SL - B123456789</h5>
                            <p class="text-left mb-0"><b>AJE <abbr title="Prevención Técnica">PT</abbr> - <abbr title="Asesoría Jurídica Plus">AJP</abbr></b> | (ID) Fecha contrato/Fecha baja: <b>(11)</b> <b>10-10-2001</b>/--</p>
                        </div>
                        <div class="col">
                            <h5 class="text-right">Especialidades PRL: H,S,V</h5>
                            <p class="text-right mb-0">Entidad: <b>Grupo Preving</b> | Gran cuenta: <b>Sí</b></p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card mb-5">
                <div class="card-header">
                    <h5 class="mb-0">Card para formularios</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    <p class="card-text">In hac habitasse platea dictumst. Sed ut varius est. Quisque finibus orci eget massa porttitor finibus.</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col text-danger col-form-label"><b>(*) Campos requeridos</b></div>
                        <div class="col text-right">
                            <button class="btn btn-app-crm" type="submit">Aceptar</button>&nbsp;<button class="btn btn-light" type="reset">Cancelar</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a href="" class="nav-link">Uno</a></li>
                <li class="nav-item"><a href="" class="active nav-link">Dos</a> </li>
                <li class="nav-item"><a href="" class="nav-link">Tres</a> </li>
                <li class="nav-item"><a href="" class="nav-link disabled">Cuatro</a> </li>
            </ul>
            <fieldset class="my-5">
                <legend>DATOS GENERALES</legend>
                <div class="clearfix "></div>
                <form>
                    <div class="form-group ">
                        <label for="exampleInputEmail2 " class="col-form-label col-form-label-sm "><b>Email o Usuario</b></label>
                        <input type="email " class="form-control form-control-sm " name="exampleInputEmail2 " id="exampleInputEmail2 " aria-describedby="emailHelp " placeholder="Introducir email ">
                        <small id="emailHelp " class="form-text text-muted ">No compartiremos tu correo con nadie.</small>
                    </div>
                    <div class="form-group ">
                        <label for="exampleInputPassword2 " class="col-form-label col-form-label-sm "><b>Contraseña</b></label>
                        <input type="password " class="form-control form-control-sm " name="exampleInputPassword2 " id="exampleInputPassword2 " placeholder="Contraseña ">
                    </div>
                    <div class="form-group form-check ">
                        <input type="checkbox " class="form-check-input " name="exampleCheck2 " id="exampleCheck2 ">
                        <label class="form-check-label " for="exampleCheck2 ">Recordarme</label>
                    </div>
                    <button type="submit " class="btn btn-{{ appStyle }} btn-sm ">Enviar</button>
                </form>
            </fieldset>
        </div>
        <div class="col-3">
            <!-- Pagination -->
            <div class="row">
                <div class="col">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#"> <span>«</span></a>
                        </li>
                        <li class="page-item active"> <a class="page-link bg-app-crm border border-app-crm" href="#">1</a> </li>
                        <li class="page-item"> <a class="page-link" href="#">2</a> </li>
                        <li class="page-item"> <a class="page-link" href="#">3</a> </li>
                        <li class="page-item"> <a class="page-link" href="#">4</a> </li>
                        <li class="page-item">
                            <a class="page-link" href="#"> <span>»</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Pagination -->
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Usuario/Email (*)</label>
                        <input type="email" class="form-control" name="email" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Contraseña (*)</label>
                        <input type="password" class="form-control" name="password" id="inputPassword4" placeholder="Password">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="inputAddress">Dirección (*)</label>
                        <input type="text" class="form-control" name="addressLine1" id="inputAddress" placeholder="1234 Main St">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="inputAddress2">Dirección (segunda línea)</label>
                        <input type="text" class="form-control" name="addressLine2" id="inputAddress2" placeholder="Apartamento, bajo o planta">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputZip">CP (*)</label>
                        <input type="text" class="form-control" name="cp" id="inputZip">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputCity">Ciudad (*)</label>
                        <input type="text" class="form-control" name="city" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Provincia (*)</label>
                        <select name="state" id="inputState" class="form-control">
                              <option selected>Selecciona</option>
                              <option value="">...</option>
                            </select>
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="avisolegal" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                              Acepto el <a href="#">Aviso Legal</a>
                            </label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-app-crm">Enviar</button>
            </form>
        </div>
        <div class="col-6">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <!-- TitleSection-->
                                <h5 class="mb-0">Clientes / Búsqueda de Clientes</h5>
                                <!-- /TitleSection-->
                            </div>
                            <div class="card-body">
                                <!-- Buscador -->
                                <div class="row">
                                    <div class="col">
                                        <form class="">
                                            <div class="row mb-3">
                                                <div class="col form-inline">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="filterClientes" id="filterClientes1" value="clientesActivos" checked="checked">
                                                        <label class="form-check-label" for="filterClientes1"><b>Clientes Activos</b></label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="filterClientes" id="filterClientes2" value="clientesBaja">
                                                        <label class="form-check-label" for="filterClientes2"><b>Clientes de Baja</b></label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="filterClientes" id="filterClientes3" value="clientesTodos">
                                                        <label class="form-check-label" for="filterClientes3"><b>Todos</b></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col form-inline">
                                                    <div class="form-check-inline">
                                                        CONSULTAS:
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="filterConsultas" id="fiterConsultas1" value="consultasTodas" checked="checked">
                                                        <label class="form-check-label" for="fiterConsultas1">Todos</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="filterConsultas" id="filterConsultas2" value="consultasAbiertas">
                                                        <label class="form-check-label" for="filterConsultas2">Consultas abiertas</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="filterConsultas" id="filterConsultas3" value="consultasCerradas">
                                                        <label class="form-check-label" for="filterConsultas3">Consultas cerradas</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-inline form-row">
                                                <div class="col-9">
                                                    <input type="text" class="form-control" style="width:100%" id="buscadorClientes" placeholder="Nombre, NIF/CIF o ID cliente">
                                                </div>
                                                <div class="col-3">
                                                    <button type="submit" class="btn btn-app-crm" style="width:100%"><i class="fas fa-filter"></i> Filtrar</button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                                <!-- /Buscador -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>