<div class="container bg-gradient">
  <h1>Política de Cookies</h1>
  <p><strong>Fecha de última actualización: 06/06/2024</strong> </p>
  <h2>1. Introducción</h2>
  <p>Esta Política de Cookies explica cómo Huellitas Extremeñas utiliza
    cookies y tecnologías similares para ofrecerte una experiencia personalizada y mejorar nuestros servicios. Al
    utilizar nuestra aplicación, aceptas el uso de cookies de acuerdo con esta política.</p>

  <h2>2. ¿Qué son las cookies?</h2>
  <p>Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo cuando visitas nuestro sitio
    web o aplicación. Estas cookies nos permiten reconocerte y recordar tus preferencias cuando vuelvas a
    visitarnos.</p>

  <h2>3. Cookies utilizadas</h2>
  <p><strong>Cookies de inicio de sesión:</strong> Utilizamos cookies estrictamente necesarias para permitirte
    iniciar sesión en nuestra aplicación. Estas cookies son esenciales para que puedas acceder a tu cuenta de
    usuario y utilizar nuestras funciones de forma segura.</p>

  <h2>4. Control de cookies</h2>
  <p>Puedes gestionar las cookies en cualquier momento a través de la configuración de tu navegador. Sin embargo,
    ten en cuenta que deshabilitar las cookies puede afectar negativamente a tu experiencia de usuario y limitar
    la funcionalidad de nuestra aplicación.</p>

  <h2>5. Actualizaciones de la política de cookies</h2>
  <p>Nos reservamos el derecho de realizar cambios en esta Política de Cookies en cualquier momento. Te
    recomendamos que revises periódicamente esta página para estar al tanto de cualquier actualización.</p>

  <h2>6. Contacto</h2>
  <p>Si tienes alguna pregunta o preocupación sobre nuestra política de cookies, no dudes en ponerte en contacto
    con nosotros a través de <a href="mailto:huellitas_admin@gmail.com">correo electrónico de contacto</a>.</p>
</div>
<div class="buttons d-flex justify-content-center">
  <button class="btn" (click)="goBack()">Volver</button>
</div>
