<div class="d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="d-flex justify-content-center mb-4">
    <img src="assets/imgs/huellitasLogo2.png" alt="Sample image" class="img-fluid"/>
  </div>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4 text-center">
      <input type="email" id="form2Example1" class="form-control" placeholder="Email" name="email" ngModel />
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4 text-center">
      <input type="password" id="form2Example2" class="form-control" placeholder="Contraseña" name="password" ngModel />
    </div>
    <!-- Submit button -->
    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Acceder</button>

    <!-- Register buttons -->
    <div class="text-center">
      <p>¿Quieres adoptar? <a href="#!">Registrate como Usuario</a></p>
      <p>¿Eres una asociación? <a href="#!">Registrate como Asociación</a></p>
    </div>
  </form>
</div>
