<div class="container mt-4">
  <h1 class="text-center m-5">Listado Solicitudes de {{nombreAsociacion}}</h1>

  <table id="datatable" class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Nombre del Animal</th>
      <th class="d-none d-md-table-cell">Correo del interesado</th>
      <th class="d-none d-md-table-cell">Teléfono del interesado</th>
      <th class="d-none d-md-table-cell">Estado</th>
      <th class="d-none d-md-table-cell">Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let animalPersona of animalPersonas">
      <td>{{ animalPersona.idAnimal.nombre }}</td>
      <td class="d-none d-md-table-cell">{{ animalPersona.idPersona.correo }}</td>
      <td class="d-none d-md-table-cell">{{ animalPersona.idPersona.tlf }}</td>
      <td class="d-none d-md-table-cell">
          <span [ngClass]="{'badge rounded-pill bg-danger': !animalPersona.estado, 'badge rounded-pill bg-success text-white': animalPersona.estado || !animalPersona.estado}">
            {{ animalPersona.estado ? 'Aceptada' : 'Pendiente' }}
          </span>
      </td>
      <td class="d-none d-md-table-cell">
          <span class="d-flex">
            <button *ngIf="!animalPersona.estado" class="btn btn-success m-2" (click)="aceptarSolicitud(animalPersona.id.idAnimal, animalPersona.id.idPersona)">Aceptar</button>
            <button *ngIf="!animalPersona.estado" class="btn btn-danger m-2" (click)="rechazarSolicitud(animalPersona.id.idAnimal, animalPersona.id.idPersona)">Rechazar</button>
          </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
