<div class="container mt-4 spinner-border" role="status" *ngIf="isLoading">
  <span class="sr-only">Loading...</span>
</div>
<div class="container mt-4" *ngIf="!isLoading">
  <h1 class="text-center m-5">Listado Solicitudes de {{nombreUsuario}}</h1>

  <table id="datatable" class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Nombre del Animal</th>
    <th class="min-tablet-l">Correo de la Asociación</th>
    <th class="min-tablet-l">Teléfono de la Asociacion</th>
    <th class="min-tablet-l">Estado</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let animalPersona of animalPersonas">
    <td>{{ animalPersona.idAnimal.nombre }}</td>
    <td class="min-tablet-l">{{ animalPersona.idAnimal.asociacion.usuario.correo }}</td>
    <td class="min-tablet-l">{{ animalPersona.idPersona.tlf }}</td>
    <td class="min-tablet-l">
        <span [ngClass]="{'badge rounded-pill bg-danger': !animalPersona.estado, 'badge rounded-pill bg-success text-white': animalPersona.estado || !animalPersona.estado}">
        {{ animalPersona.estado ? 'Aceptada' : 'Pendiente' }}
        </span>
    </td>  </tr>
  </tbody>
</table>
</div>
